<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.DeepBlue.dao.UserleverMapper" >
  <resultMap id="BaseResultMap" type="cn.DeepBlue.pojo.Userlever" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="leverId" property="leverid" jdbcType="INTEGER" />
    <result column="leverName" property="levername" jdbcType="VARCHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_TIME" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>